.dataBtn{
    position: absolute;
    width: 18%;
    height: 7%;
    margin-top: 39%;
    margin-left: 63%;
}

.dataBtn button{
    width: 100%;
    height: 100%;
    letter-spacing: 3px;
    background-color: transparent;
    border: 2px solid white;
}
.dataBtn button:hover{
    cursor: pointer;
}
@media(max-width:768px){

.dataBtn{
    position:absolute;
    width:220px;
    height:50px;
    margin-top:1500px;
    margin-left:10%;
}

}